[Desktop Entry]
Name=Superman64Recompiled
Type=Application
Terminal=false
Icon=Superman64Recompiled
Exec=Superman64Recompiled
GenericName=Superman64Recompiled
Categories=Game;

